.esnad {
  padding: 100px 0;
  margin-top: 30px;
}

.esnad .h3 {
  color: #415259;
  font-size: 30px;
  font-weight: 600;
  padding: 15px;
}
.esnad .e-box {
  padding-top: 100px;
}

.esnad li::marker {
  color: #c9c3ad;
  font-weight: bold;
  font-size: 25px;
}
