.quarterly-financial .h2 {
  border-bottom: 2px solid #a98445;
  width: 50%;
  margin-bottom: 85px;
}
.quarterly-financial .cust-box-shad {
  box-shadow: 0 2px 5px 1px #ada8a869;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 35px 0;
}
.quarterly-financial h4 {
  color: #a98445;
  margin: 0 65px;
  font-weight: 600;
  margin-bottom: 50px;
}

.quarterly-financial .cust-box-shad {
  position: relative;
  overflow: hidden;
}
.quarterly-financial .sar-title {
  position: absolute;
  left: -40px;
  z-index: 1;
  top: 50%;
  font-size: 22px;
  transform: rotate(270deg);
  color: #242e40c4;
}

.quarterly-financial .sarr-title {
  position: absolute;
  right: 0;
  z-index: 1;
  top: 50%;
  font-size: 22px;
  transform: rotate(270deg);
  color: #242e40c4;
}

@media (max-width: 576px) {
  .quarterly-financial .sar-title {
    left: -55px;
    font-size: 17px;
  }

  .quarterly-financial .sarr-title {
    right: -35px;
    font-size: 17px;
  }
}
